@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

@font-face {
  font-family: 'Mansory';
  src: url('/fonts/Mansory.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  justify-content: center;
  background-color: #EEE2DF;
  align-items: center;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}
