
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  justify-content: center;
  background-color: #705D56;
  align-items: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
