---
import "../styles/global.css";
import Header from '../components/Header';
import HeroSection from '../sections/HeroSection';
import About from '../sections/About';
import Doubts from '../sections/Doubts';
import Approach from '../sections/Approach';
import Contact from '../sections/Contact';
import InspirationalQuote from '../components/InspirationalQuote';
import Footer from "../components/Footer";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap" rel="stylesheet">
		<title>Laura Lacerda - Psicóloga</title>
	</head>
	<body>
	<Header client:only="react" />
		<main>
		<HeroSection client:only="react" />
		<About client:only="react" />
		<Approach client:only="react" />
		<Doubts client:only="react" />
		<Contact client:only="react" />
		<InspirationalQuote client:only="react" />
	</main>
	<Footer client:only="react" />
	</body>
</html>
